.main-contianer-login {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  justify-content: center;
  position: relative;
}

h1 {
  letter-spacing: 5px;
  font-size: 60px;
}

h2 {
  span{
    color: #FFB800;
    text-transform: uppercase;
  }
}

.icon-default {
  fill: #ffb700a0;
  position: absolute;
  font-size: 30px;
  left: 38px;
}

.user-icon {
  top: 290px;
}

.password-icon {
  top: 370px;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 40vh;
  width: 95%;

  input {
    border:none;
    border-bottom: 2px solid #ffffffa2;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFB800;
    font-size: 24px;
    margin-bottom: 20px;
    height: 60px;
    padding: 10px;
    padding-left: 50px;
    outline: none;
    text-transform: uppercase;
    width: 90%;
  }
}

.container-input-sign {
  display: flex;
  flex-flow: column nowrap;
  width: 85%;

  button {
    background-color: #FFB800;
    border-radius: 6px;
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    height: 60px;
    width: 100%;
  }

  span {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 15px;
  }
}