header {
  align-items: center;
  border-bottom: 0.2px solid #F2F2F2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 15px;
  height: 80px;
}

.user-name {
  font-size: 22px;
  letter-spacing: 2px;

  span {
    color: #ffb800;
    font-weight: 700;
  }
}

.container-image {
  .icon-exit{
    fill: rgb(183, 39, 39);
    height: 25px;
    width: 25px;
  }
}
